@import url(https://fonts.bunny.net/css?family=abeezee:400,400i|geom:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

[x-cloak] { display: none !important; }

@theme {
    --color-primary-50:  #e7fdfb;
    --color-primary-100: #cffcf7;
    --color-primary-200: #9cfcf1;
    --color-primary-300: #5cffec;
    --color-primary-400: #00ffe1;
    --color-primary-500: #008374;  
    --color-primary-600: #006b5f;
    --color-primary-700: #00574d;
    --color-primary-800: #00473f;
    --color-primary-900: #003832;
    --color-primary-950: #02221e;

    --color-dark-500: #1e272c;
}

body {
    font-family: "Geomini";
    background-color: #f9fafb;
}