@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Anek Latin';

    --color-brand-50:  #eef5fb;
    --color-brand-100: #d5e7f5;
    --color-brand-200: #aed0eb;
    --color-brand-300: #7eb4dc;
    --color-brand-400: #5297ce;
    --color-brand-500: #2f7bbd;
    --color-brand-600: #2563a0;
    --color-brand-700: #1d4d7f;
    --color-brand-800: #153960;
    --color-brand-900: #0e2540;
    --color-brand-950: #091828;

    --color-dark: #252b33;
}

body {
    font-family: var(--font-sans);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}
